<div class="container">

<h1> CH4ANG3 1$ G00D </h1>
<br>

<form action="/users/<%= current_user.id %>" method="post">
  <input type="hidden" name="_method" value="put"></input>
  <input type="text" name="user[first_name]" value="<%= current_user.first_name %>"></input>
  <br>
  <input type="text" name="user[last_name]" value="<%= current_user.last_name %>"></input>
  <br>
  <input type="email" name="user[email]" value="<%= current_user.email %>"></input>
  <br>
  <input type="text" name="user[username]" value="<%= current_user.username %>"></input>
  <br>
  <input type="password" name="user[password]" value="password"></input>
  <br>
  <input type="tel" name="user[phone_number]" value="<%= current_user.phone_number %>"></input>
  <br>
  <input class="button" type="submit" value="3D1T"></input>
</form>
<form action="/users/<%= current_user.id %>" method="get">
  <input class="button" type="submit" value="C4nc31"></input>
</form>
</div>
