<div class="container">
  <h1>Hello, <%= current_user.first_name %></h1>

  <form action="/sessions/<%= current_user.id %>" method="post">
    <input type="hidden" name="_method" value="delete"></input>
    <input type="submit" value="Log Out"></input>
  </form>
  <form action="/users/<%= current_user.id %>/edit" method="get">
    <input type="submit" value="Edit"></input>
  </form>

   <form action="/users/<%= current_user.id %>" method="post">
    <input type="hidden" name="_method" value="delete"></input>
    <input type="submit" value="Delete"></input>
  </form>

  <form action="/friends/new" method="get">
    <input type="submit" value="Add Friend"></input>
  </form>

  <h1>Friend, You Shall Choose</h1>

  <form id="leet_speak_translator" action="/messages" method="post">
      <select name='phone_number'>
      <option value="" disabled="disabled" selected="selected">S3L3CT 4 FR13ND</option>
      <% @friends.each do |friend| %>
      <option value="<%= friend.phone_number%>"><%= friend.first_name %></option>
      <%end  %>
    </select>
    <input id="message_content" type="text" name="content"></input>
    <input type="submit" value="Send Message"></input>
  </form>



</div>
